In [14]:
#1. Hiển thị toàn bộ dữ liệu
import pandas as pd
import numpy as np

df1 = pd.read_csv('P4AI_BT1.csv')
df1

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [16]:
#2. Điền các giá trị bị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc
df2 = df1.copy()
row_toal = df2.shape[0]
for i in df2.columns:
    if(i != 'variety'):
        sum = 0
        for j in df2[i].values:
            if(pd.isna(j) == False):
                sum += j       
        sum = round(sum / row_toal, 1)        
        df2[i] = df2[i].replace(np.nan, sum)
df2['variety'] = df2['variety'].replace(np.nan, list(dict(df2['variety'].value_counts()).keys())[0])
df2

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           3.3          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          1.1     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.7           5.0          1.9  Virginica
147           5.3          2.7           5.2          2.0  Virginica
148           5.3          3.4           3.3          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [17]:
#3. Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3
df3 = df2.copy()
df3[(df3['sepal.length'].values > 5) & (df3['sepal.width'].values > 3)]

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
6             5.3          3.4           1.4          0.3      Setosa
7             5.3          3.4           1.5          0.2      Setosa
10            5.4          3.7           1.5          0.2      Setosa
15            5.7          4.4           1.5          1.1      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3   Virginica
18            5.7          3.8           1.7          1.1      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           3.3          0.2      Setosa
21            5.1          3.7           3.3          0.4      Setosa
23            5.1          3.3           1.7          0.5      Setosa
27            5.2          3.5           1.5          0.2   Virginica
28            5.2          3.4           1.4          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2   Virginica
36            5.5          3.5           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
43            5.3          3.5           1.6          0.6      Setosa
44            5.1          3.8           1.9          1.1      Setosa
46            5.1          3.8           1.6          0.2      Setosa
47            5.3          3.2           1.4          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4   Virginica
51            6.4          3.2           4.5          1.1  Versicolor
52            5.3          3.1           4.9          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
70            5.9          3.2           4.8          1.8   Virginica
85            5.3          3.4           4.5          1.6  Versicolor
86            6.7          3.1           4.7          1.5  Versicolor
100           6.3          3.3           6.0          1.1   Virginica
110           6.5          3.2           5.1          2.0   Virginica
115           6.4          3.2           5.3          2.3   Virginica
117           7.7          3.8           6.7          2.2   Virginica
120           6.9          3.2           5.7          2.3   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
131           7.9          3.8           6.4          2.0   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
139           6.9          3.1           5.4          1.1   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica
148           5.3          3.4           3.3          2.3   Virginica

In [209]:
#4. Chuẩn hóa dữ liệu theo min max
df4 = df3.copy()
for i in df4.columns:
    if(i != 'variety'):
        min_value = df4[i].min()
        max_value = df4[i].max()
        df4[i] = (df4[i] - min_value) / (max_value - min_value)
df4

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.389831     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.416667     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.291667      0.677966     0.750000  Virginica
147      0.277778     0.291667      0.711864     0.791667  Virginica
148      0.277778     0.583333      0.389831     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

In [19]:
#5. Liên tục hóa thuộc tính variety
df5 = df4.copy()
dummies = pd.get_dummies(df5['variety'])
df5 = pd.concat([df5, dummies], axis=1)
df5.drop('variety', axis = 1, inplace=True)
df5

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,1,0,0
1,0.166667,0.416667,0.389831,0.041667,1,0,0
2,0.111111,0.500000,0.050847,0.041667,1,0,0
3,0.083333,0.458333,0.084746,0.416667,1,0,0
4,0.194444,0.666667,0.067797,0.041667,1,0,0
...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,0,0,1
146,0.555556,0.291667,0.677966,0.750000,0,0,1
147,0.277778,0.291667,0.711864,0.791667,0,0,1
148,0.277778,0.583333,0.389831,0.916667,0,0,1
149,0.444444,0.416667,0.694915,0.708333,0,0,1

In [204]:
#6. Xây dựng mô hình hồi quy tuyến tính để đoán kết quả của thuộc tính variety  dựa trên các thuộc tính khác
df6 = df4.copy().sample(frac = 1, replace=True) #xáo trộn dữ liệu để ngăn mô hình bị sai lệch
df6.reset_index(inplace = True)
df6.drop(['index'], axis=1, inplace=True)
df6['variety'].replace({'Setosa':1, 'Virginica':2, 'Versicolor':3}, inplace = True)
X = df6.drop('variety', axis=1)
Y = df6['variety']
thread_point = int(0.8 * df6.shape[0])
x_train, x_test = X[:thread_point], X[thread_point:]
y_train, y_test = Y[:thread_point], Y[thread_point:]

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)
  
print(model.predict(x_test), y_test.values)
model.score(x_test, y_test)

[1 2 2 3 1 1 1 2 2 2 1 2 2 2 3 2 3 3 2 2 2 1 2 1 1 2 1 1 1 3] [1 2 2 3 1 1 1 2 2 2 1 2 2 2 2 3 3 3 2 2 3 1 2 1 1 2 1 1 1 3]

0.9

In [59]:
#7. Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu
df7 = df5.copy()
df7 = df7.sample(frac=0.5, replace = False)
df7.reset_index(inplace = True)
df7.drop(['index'], axis=1, inplace=True)
df7

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,0.361111,0.208333,0.491525,0.416667,0,1,0
1,0.472222,0.083333,0.677966,0.583333,0,0,1
2,0.222222,0.541667,0.118644,0.166667,1,0,0
3,0.944444,0.250000,1.000000,0.916667,0,0,1
4,0.138889,0.416667,0.067797,0.083333,1,0,0
...,...,...,...,...,...,...,...
70,0.500000,0.416667,0.610169,0.541667,0,0,1
71,0.027778,0.375000,0.067797,0.041667,1,0,0
72,0.666667,0.291667,0.389831,0.958333,0,0,1
73,0.027778,0.291667,0.050847,0.416667,1,0,0
74,0.138889,0.583333,0.152542,0.041667,1,0,0

In [60]:
#8. Rời rạc hóa thuộc tính sepal.length
df8 = df5.copy()
df8['sepal.length'] = pd.cut(df8['sepal.length'], bins=[0, 0.2, 0.4, 0.6, 0.8, 1], labels = ['very short', 'short', 'medium', 'long', 'very long'])
df8

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,short,0.625000,0.067797,0.041667,1,0,0
1,very short,0.416667,0.389831,0.041667,1,0,0
2,very short,0.500000,0.050847,0.041667,1,0,0
3,very short,0.458333,0.084746,0.416667,1,0,0
4,very short,0.666667,0.067797,0.041667,1,0,0
...,...,...,...,...,...,...,...
145,long,0.416667,0.711864,0.916667,0,0,1
146,medium,0.291667,0.677966,0.750000,0,0,1
147,short,0.291667,0.711864,0.791667,0,0,1
148,short,0.583333,0.389831,0.916667,0,0,1
149,medium,0.416667,0.694915,0.708333,0,0,1

In [211]:
#9. Phân cụm dữ liệu và loại bỏ ngoại lai
df9a = df6.copy().set_index('variety')
df9a

         sepal.length  sepal.width  petal.length  petal.width
variety
1            0.194444     0.541667      0.067797     0.041667
3            0.361111     0.416667      0.389831     0.583333
1            0.194444     0.541667      0.067797     0.041667
3            0.583333     0.500000      0.593220     0.416667
2            0.333333     0.916667      0.067797     0.041667
...               ...          ...           ...          ...
2            0.555556     0.291667      0.677966     0.750000
1            0.277778     0.708333      0.084746     0.041667
1            0.277778     0.583333      0.084746     0.041667
1            0.277778     0.708333      0.084746     0.041667
3            0.361111     0.208333      0.491525     0.416667

[150 rows x 4 columns]

In [212]:
#Phân cụm dữ liệu
from sklearn.cluster import KMeans
clusters = 7

kmeans = KMeans(n_clusters = clusters)
kmeans.fit(df9a)
print(kmeans.inertia_)
kmeans.labels_

5.046066349243006

array([1, 5, 1, 0, 3, 2, 0, 5, 1, 0, 1, 5, 0, 3, 4, 5, 6, 1, 3, 1, 5, 3,
       4, 4, 2, 5, 0, 0, 5, 2, 0, 2, 1, 5, 2, 5, 1, 2, 3, 1, 2, 1, 4, 1,
       4, 1, 1, 3, 6, 4, 0, 1, 6, 3, 0, 4, 0, 5, 1, 2, 2, 0, 4, 5, 6, 3,
       1, 2, 3, 2, 3, 1, 5, 0, 4, 5, 0, 1, 5, 0, 6, 0, 2, 5, 0, 4, 2, 5,
       1, 4, 0, 1, 0, 2, 3, 3, 4, 6, 6, 1, 5, 1, 6, 1, 5, 0, 4, 1, 5, 1,
       3, 1, 5, 1, 1, 0, 4, 0, 4, 5, 1, 6, 2, 5, 1, 1, 3, 2, 0, 4, 1, 2,
       2, 2, 5, 0, 5, 0, 0, 0, 0, 1, 6, 1, 3, 0, 3, 1, 3, 5])

In [221]:
#loại bỏ ngoại lai
class Pair:
    def __init__(self, value, cnt):
        self.value = value
        self.cnt = cnt    
        self.mine_value = 0

df9b = df6.copy()
columns = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width']
dict = {}
for i in range(150):
    dict[i] = 0
#khởi tạo ngưỡng 
threshold_value = 0.2
#tính giá trị trung bình của từng cụm trên từng cột
for i in columns:
    d = {}
    for j in range(7):
        d[j] = Pair(0, 0)
    #cộng giá trị của từng cụm và tần suất xuất hiện
    for j in range(len(kmeans.labels_)):
        d[kmeans.labels_[j]].value += df9b[i][j]
        d[kmeans.labels_[j]].cnt += 1
    #tính giá trị trung bình
    for j in range(7):
        d[j].mine_value = d[j].value / d[j].cnt  
    #đếm số cột có chênh lệch với giá trị trung bình vượt ngưỡng của từng dòng
    for j in range(150):
        if(abs(d[kmeans.labels_[j]].mine_value - df9b[i][j]) > threshold_value):
            dict[j] += 1
dict

{0: 0,
 1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 1,
 8: 1,
 9: 0,
 10: 0,
 11: 0,
 12: 0,
 13: 0,
 14: 0,
 15: 0,
 16: 1,
 17: 0,
 18: 0,
 19: 0,
 20: 0,
 21: 0,
 22: 0,
 23: 0,
 24: 0,
 25: 0,
 26: 0,
 27: 0,
 28: 0,
 29: 0,
 30: 0,
 31: 0,
 32: 0,
 33: 0,
 34: 0,
 35: 0,
 36: 0,
 37: 0,
 38: 1,
 39: 1,
 40: 0,
 41: 0,
 42: 0,
 43: 0,
 44: 1,
 45: 0,
 46: 0,
 47: 1,
 48: 0,
 49: 0,
 50: 0,
 51: 0,
 52: 1,
 53: 1,
 54: 0,
 55: 1,
 56: 0,
 57: 1,
 58: 0,
 59: 0,
 60: 2,
 61: 0,
 62: 0,
 63: 0,
 64: 1,
 65: 0,
 66: 0,
 67: 0,
 68: 1,
 69: 0,
 70: 0,
 71: 0,
 72: 0,
 73: 1,
 74: 0,
 75: 0,
 76: 1,
 77: 0,
 78: 0,
 79: 0,
 80: 1,
 81: 0,
 82: 0,
 83: 0,
 84: 1,
 85: 0,
 86: 0,
 87: 0,
 88: 0,
 89: 0,
 90: 1,
 91: 0,
 92: 0,
 93: 1,
 94: 0,
 95: 0,
 96: 0,
 97: 0,
 98: 1,
 99: 0,
 100: 0,
 101: 0,
 102: 1,
 103: 0,
 104: 0,
 105: 0,
 106: 0,
 107: 0,
 108: 0,
 109: 0,
 110: 0,
 111: 0,
 112: 0,
 113: 0,
 114: 0,
 115: 0,
 116: 0,
 117: 0,
 118: 0,
 119: 1,
 120: 0,
 121: 0,
 122: 0,
 123: 0,
 124: 0,
 125: 1,
 126: 0,
 127: 0,
 128: 0,
 129: 0,
 130: 0,
 131: 0,
 132: 0,
 133: 0,
 134: 0,
 135: 0,
 136: 0,
 137: 0,
 138: 0,
 139: 1,
 140: 0,
 141: 0,
 142: 0,
 143: 0,
 144: 0,
 145: 0,
 146: 0,
 147: 0,
 148: 0,
 149: 0}

In [222]:
#hiển thị tần suất của số cột có chênh lệch vượt ngưỡng trên từng dòng
for i in range(5):
    print('{} : {}'.format(i, list(dict.values()).count(i)))

0 : 125
1 : 24
2 : 1
3 : 0
4 : 0

In [223]:
# những dòng có tần suất lớn hơn 2 là ngoại lai và sẽ bị loại bỏ
for i in range(150):
    if (dict[i] > 0):
        df9b.drop(i, inplace=True)
df9b.reset_index(inplace = True)
df9b.drop(['index'], axis=1, inplace=True)        
df9b

     sepal.length  sepal.width  petal.length  petal.width  variety
0        0.194444     0.541667      0.067797     0.041667        1
1        0.361111     0.416667      0.389831     0.583333        3
2        0.194444     0.541667      0.067797     0.041667        1
3        0.583333     0.500000      0.593220     0.416667        3
4        0.333333     0.916667      0.067797     0.041667        2
..            ...          ...           ...          ...      ...
120      0.555556     0.291667      0.677966     0.750000        2
121      0.277778     0.708333      0.084746     0.041667        1
122      0.277778     0.583333      0.084746     0.041667        1
123      0.277778     0.708333      0.084746     0.041667        1
124      0.361111     0.208333      0.491525     0.416667        3

[125 rows x 5 columns]

In [224]:
#training lại sau khi loại bỏ ngoại lai
X = df9b.drop('variety', axis=1)
Y = df9b['variety']
thread_point = int(0.8 * df9b.shape[0])
x_train, x_test = X[:thread_point], X[thread_point:]
y_train, y_test = Y[:thread_point], Y[thread_point:]

model = LogisticRegression()
model.fit(x_train, y_train)
  
print(model.predict(x_test), y_test.values)
model.score(x_test, y_test) #sau khi loại bỏ ngoại lai tỉ lệ dự đoán tăng từ 0.9 lên 0.92

[3 1 1 2 2 2 1 2 2 2 3 2 3 3 2 3 1 2 1 1 2 1 1 1 3] [3 1 1 2 2 2 1 2 2 2 2 3 3 3 2 3 1 2 1 1 2 1 1 1 3]

0.92

In [2]:
import pandas as pd
df = pd.read_csv('P4AI_BT1.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]